<h6 class="colour-pink mb-1 text-uppercase">Top reviews</h6>
<p class="text-muted">Top reviews from India</p>
<div class="review">
  <div class="review-container mb-4">
    <ul class="list-unstyled m-0">
      <li class="mb-2">
        <ul class="list-unstyled ml-0 mb-2 d-flex">
          <li>
            <img src="https://via.placeholder.com/90x90" alt="" width="25" height="25" class="rounded-circle mr-2"/>
          </li>
          <li>
            <strong class="font-xs ">Amit Jadhav</strong>
          </li>
        </ul>
        <div class="review-star mb-1">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <p class="mb-1"><strong class="font-xs">Another Fabulous IPhone ( IPhone 12, Blue 64GB)</strong></p>
        <p class="font-xs">Another beauty from Apple. I was upgraded from iPhone X and it was great experience.</p>
      </li>
      <li class="mb-2">
        <ul class="list-unstyled ml-0 mb-2 d-flex">
          <li>
            <img src="https://via.placeholder.com/90x90" alt="" width="25" height="25" class="rounded-circle mr-2"/>
          </li>
          <li>
            <strong class="font-xs ">Amit Jadhav</strong>
          </li>
        </ul>
        <div class="review-star mb-1">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <p class="mb-1"><strong class="font-xs">Another Fabulous IPhone ( IPhone 12, Blue 64GB)</strong></p>
        <p class="font-xs">Another beauty from Apple. I was upgraded from iPhone X and it was great experience.</p>
      </li>
      <li class="mb-2">
        <ul class="list-unstyled ml-0 mb-2 d-flex">
          <li>
            <img src="https://via.placeholder.com/90x90" alt="" width="25" height="25" class="rounded-circle mr-2"/>
          </li>
          <li>
            <strong class="font-xs ">Amit Jadhav</strong>
          </li>
        </ul>
        <div class="review-star mb-1">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <p class="mb-1"><strong class="font-xs">Another Fabulous IPhone ( IPhone 12, Blue 64GB)</strong></p>
        <p class="font-xs">Another beauty from Apple. I was upgraded from iPhone X and it was great experience.</p>
      </li>
    </ul>
  </div>
</div>
