<h6 class="colour-pink mb-1 text-uppercase">Payment details</h6>
<p class="text-muted">Complete your purchase by providing your payment details.</p>
<div class="payment">
  <form class="payment-form">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" required/>
    </div>
    <div class="form-group">
      <label for="card-details">Card Details</label>
      <input type="text" class="form-control" id="card-details" required/>
    </div>
    <div class="form-group">
      <label for="card-holder-name">Card Holder Name</label>
      <input type="text" class="form-control" id="card-holder-name" required/>
    </div>
    <div class="form-group">
      <label for="billing-address">Billing address</label>
      <input type="text" class="form-control" id="billing-address" required/>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="state">State</label>
          <select class="form-control" id="state" required>
            <option></option>
            <option>State</option>
            <option>State</option>
            <option>State</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="zip-code">ZIP Code</label>
          <input type="text" class="form-control" id="zip-code" required/>
        </div>
      </div>
      
    </div>
    <div class="text-center mt-4">
      <button type="submit" class="btn payment-btn mb-2">Pay ₹ 80,230.00 </button>
      <p><span class="font-xs"><i class="fa fa-lock" aria-hidden="true"></i> Payments are secure and encrypted</span></p>
      
    </div>
    
  </form>
</div>